@font-face{
  font-Family: Elephont;
  src: url(Elephont-Regular.otf)
}
@font-face{
  font-Family: Comfortaa;
  src: url(Comfortaa-Regular.ttf)
}
@font-face{
  font-Family: Spark;
  src: url(spark4.otf)
}
body{
  //background:E35549;
  background:d9655b;
  //background:e59f63;
  //background:a67b78;
  text-align: center;
  color: white;
  font-family: 'Comfortaa';
}
div{
 // background: a15f59;

}
.icon-right-brazier:before{
  font-family: 'Spark';
  padding: 3px;
  display: inline-block;
  content:"\002A"
}
.icon-left-brazier:before{
  font-family: 'Spark';
  padding: 3px;
  display: inline-block;
  content:"\0024"
}

.icon-brazier:before{
  font-family: 'Spark';
  padding: 3px;
  display: inline-block;
  content:"\50"
}
.big{
   font-size: 20em;

}
.round-button {
  display:block;
  width:200px;
  height:200px;
  line-height:200px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}
.globe{
  position: absolute;
  top:40%;
  left:20%;
}
h1{
  font-family: 'Elephont';
  font-size: 8em;
  display:block;

}
